/***Base Font***/
html{
    
    overflow-x: hidden;
}

@media (max-width: 1500px){
    html {
        font-size: 17px;
    }
}
@media (max-width: 1440px){
    html {
        font-size: 16px;
    }
}
@media (max-width: 1300px) {
	html {
		font-size: 15px
	}
}

@media (max-width: 1200px) {
	html {
		font-size: 14px
	}
}
@media (max-width: 768px) {
	html {
		font-size: 16px
	}
}
/***Base Font***/

body{
    font-size: 1.5rem;
    font-family: kohinoordevanagari-regular, sans-serif;
    font-weight:normal;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: #0A0A5F;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
h1{
    font: 2.5rem/3rem kohinoordevanagari-regular, sans-serif;
}
h2{
    font: 2.25rem/3.4375rem 'KohinoorDevanagari-Bold';
    font-weight: bold;
}
a{
    font: bold 1.25rem 'KohinoorDevanagari-Semibold';
}
nav a{
   font: 1.25rem/1.5rem 'KohinoorDevanagari-Medium'; 
   text-transform: uppercase;
}
a:hover, a:focus, button:focus {
    text-decoration: none ;
    outline: 0 !important;
    box-shadow: none !important;
}
p{
    line-height: 2.1875rem;
    font-size: 1.25rem;
}
b, strong {
    font-weight: bold !important;
}
a{
    text-decoration: none;
}
.btn-a{
    color: #ffffff;
    background-color: #186FDB;
    font-size: 1.25rem;
    display: inline-block;
    transition: all 0.2s linear;
    font-family: kohinoordevanagari-regular, sans-serif;
    height: 3.75rem;
    line-height: 3.75rem;
    width: 10rem;
    text-align: center;
}
.btn-a:hover{
    background: #186FDB;
    color: #ffffff;
}

footer{
    font: 1rem/1.188rem kohinoordevanagari-regular, sans-serif;
}

@media (min-width: 1280px) {

.container, .container-lg, .container-md, .container-sm,
.container-xl {
    padding-left: 0;
    padding-right: 0;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

}
/*** Header ***/
.top-logo{
    padding: 1.375rem 0;
}
.header {
    background: #1c4290;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
    padding-right: 2.1875rem;
}
.header .container-fluid {
    padding: 0;
}
.navbar.navbar-expand-lg {
    padding: 0.625rem 0;
}
.home-icon{
    vertical-align: top;
    padding-right: 2.1875rem;
    padding-left: 0.5rem;
}
.navbar-fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.navbar-light .navbar-toggler-icon{
    background-image: url(../images/menu.svg);
}
.navbar-light .navbar-toggler{
    border: none;
}
/*** Header ***/
.home-icon{
    vertical-align: top;
    padding-right: 2.1875rem;
    padding-left: 0.5rem;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(../images/menu.svg);
}
.navbar-light .navbar-toggler {
    border: none;
}
.mt-20 {
    margin-top: 20px;
}